@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-submenu {
    display: none;
}
.show-submenu {
    display: block;
}
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}
